<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script src="{{STATIC_URL}}jquery.js"></script>
</head>
<body>
<form id="search_main" action="ket_ex">
Оригинальный текст: <input type="text" name="s.original_text" id="original_text"><br>
Перевод: <input type="text" name="s.translation_text" id="translation_text"><br>
Словоформа (транскрипция): <input type="text" name="w.word_transcription" id="word_transcription"><br>
Морфема (транскрипция): <input type="text" name="m.morpheme_text" id="morpheme_text"><br>
Морфема (глосса): <input type="text" name="m.morpheme_gloss" id="morpheme_gloss"><br>
<input type="submit">
</form>
</body>
</html>